<div id="modal" hide>
    <div class="modal__container">
        <div class="m__img__wrapper">
            <div class="m__img">
                <img src="" alt="" decoding="async" loading="lazy">
            </div>
            <div class="m__caption">
                <p></p>
            </div>
        </div>
        <div id="close">
            <p>[ Close ]</p>
        </div>
    </div>
</div>