<footer>
    <div class="foot">
        <div class="info">
            <div id="info__btn">
                <h1>Info</h1>
            </div>
            <div id="info__details" hide>
                {{ content["info"]["data"] | safe }}
                <p>
                    © <span id="year"></span> Chibụike Ụzọma
                </p>
            </div>
        </div>
        <div class="cv">
            <div id="cv__btn">
                <h1>CV</h1>
            </div>
        </div>
    </div>
</footer>